body {
  font-size: 16px;
}
.btn-def {
  border-radius: 0;
  border: 0;
  text-decoration: none;
  font-family: poppins;
  font-weight: 400;
  padding: 6px 13px;
  &:hover {
    font-family: poppins;
    font-weight: 400;
    transition: 0.3s ease all;
    text-decoration: none;
  }

  &-yel {
    background-color: #ffd800;
    color: #333;
    &:hover {
      background-color: #333;
      color: #ffd800;
      text-decoration: none;
    }
  }
  &-brow {
    background-color: #333;
    color: #ffd800;
    &:hover {
      background-color: #ffd800;
      color: #333;
      text-decoration: none;
    }
  }
  &-gre {
    background-color: #ffd800;
    color: #333;
    
    &:hover {
      background-color: #26c281;
      color: #333;
      text-decoration: none;
    }
  }
  &-gre2 {
    background-color: #26c281;
    color: white;
    margin-bottom: 15px;
    &:hover {
      background-color: #ffd800;
      color: white;
      text-decoration: none;
    }
  }
}

.phone {
  &__modOne {
    color: #333;
  }
  &__modOne:hover {
    color: #333;
    text-decoration: none;
  }
  &__modTwo {
    color: white;
  }
  &__modTwo:hover {
    color: white;
    text-decoration: none;
  }
}
.email{
  &__modOne{
    color: white;
  }
  &__modOne:hover{
    color: white;
    text-decoration: none;
  }
}
.envelope__ico {
  margin-left: 10px;
}
.fs {
  font-size: 16px;
}
.social__button {
  &--fb {
    color: #3b5998;
  }
  &--fb:hover {
    color: #3b5998;
  }
  &--tw {
    color: #1dcaff;
  }
  &--tw:hover {
    color: #1dcaff;
  }
  &--gp {
    color: #d34836;
  }
  &--gp:hover {
    color: #d34836;
  }
}
