.btn-def {
  border-radius: 0;
  border: 0;
  text-decoration: none;
  font-family: poppins;
  font-weight: 400;
  padding: 6px 13px;
  &:hover {
    font-family: poppins;
    font-weight: 400;
    transition: 0.3s ease all;
    text-decoration: none;
  }

  &-yel {
    background-color: #ffd800;
    color: #333;
    &:hover {
      background-color: #333;
      color: #ffd800;
    }
  }
  &-brow {
    background-color: #333;
    color: #ffd800;
    &:hover {
      background-color: #ffd800;
      color: #333;
    }
  }
  &-gre {
    background-color: #ffd800;
    color: #333;
    &:hover {
      background-color: #26c281;
      color: #333;
    }
  }
  &-gre2 {
    background-color: #26c281;
    color: white;
    &:hover {
      background-color: #ffd800;
      color: white;
    }
  }
}
