#passengerAbout{

    box-sizing: border-box;
    padding: 15px 11px 50px 15px;
    line-height: 2;
    background-repeat:no-repeat;
    background-size:cover;
    .passengerAboutInfo{
        h3{
            color: white;
            font-size: 1.6em;
        }
    }
    .passengerAboutBtn{
        margin-top: 10%;

    }
}